import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

import('../blocks/**/*')


@font-face
	font-family: 'PTSans'
	src: url('../../assets/fonts/PTSansRegular.eot')
	src: url('../../assets/fonts/PTSansRegular.ttf')
	src: url('../../assets/fonts/PTSansRegular.woff')
	font-weight: 400
	font-style: normal

@font-face
	font-family: 'PTSans'
	src: url('../../assets/fonts/PTSansBold.eot')
	src: url('../../assets/fonts/PTSansBold.ttf')
	src: url('../../assets/fonts/PTSansBold.woff')
	font-weight: 700
	font-style: bold

@font-face
	font-family: 'Courier'
	src: url('../../assets/fonts/cour.ttf')
	font-weight: 400
	font-style: normal

body
	background-color backgroundColor
	font-family 'PTsans', sans-serif, Arial

.container
	width: 1000px
	margin-x(auto)
	background-image: url(../../assets/images/background.png)
	padding 70px 118px 75px 113px
	position: relative


