.about
	display block
	margin-bottom: 55px

	.section__about_title
		title()

	.section__about_text
		text()

	.about__textarea
		width: 100%
		min-height: 180px
		background-image url("../../assets/images/textarea.png")
		background-color: transparent
		border: none
		font-size: 30px
		color inputColor
		line-height: 60px
		overflow hidden
