.about
	display block
	margin-bottom: 52px

	.section__about_title
		title()
		margin-bottom: 15px

	.section__about_text
		text()
		margin-bottom: 18px

	.about__textarea
		width: 100%
		min-height: 180px
		background-image url("../../assets/images/textarea.png")
		input()
		line-height: 60px
		overflow hidden
