mixin about()
	+b.about&attributes(attributes)
		block

section.about
	h2.section__about_title Расскажите о себе словами
	p.section__about_text Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
	textarea.about__textarea#textarea Я в поисках постоянной роботы, слышал вы делаете крутые проекты, хотелось бы стать частью Вашей комманды

script
	include about.js

