mixin date()
	+b.date&attributes(attributes)
		block

section.date
	label.date__fill_date(for="date") Дата заполнения
	div.date__fill_date-input
		input(id="date" type="text" value="24.08.2017" maxlength="10")

