.plans
	display block
	margin-bottom: 95px

	.section__plans_title
		title()

	.section__plans_text
		text()
		margin-bottom: 17px

	.plans__list
		radio()

		.plans__list_item
			padding-left: 10px
			padding-right: 15px
			padding-bottom 10px
			position: relative
			display: inline-block
			letter-spacing: -0.2px

		@media screen and (max-width: 972px)
			.plans__list_item
				width: 49%

		@media screen and (max-width: 500px)
			.plans__list_item
				width: 100%

	.radio
		vertical-align: top
		margin-right: 3px
		width: 20px
		height: 20px

		&+ label
			cursor: pointer
			display: block

		&:not(checked)
			position: absolute
			opacity: 0

		&:not(checked) + label
			padding-left: 20px

			&:before
				content: ''
				sprite $radio_btn
				position: absolute
				top: -2px
				left: 0


		&:checked + label:after
			content: ''
			sprite $radio_active
			position: absolute
			left: 7px
			top: 5px
