mixin plans()
	+b.plans&attributes(attributes)
		block

section.plans
	h2.section__plans_title Какие у вас планы на будущее?
	p.section__plans_text Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
	ul.plans__list
		li.plans__list_item
			input.radio(id="html" type="radio" name="plans")
			label(for="html") Верстать
		li.plans__list_item
			input.radio(id="js" type="radio" name="plans" checked)
			label(for="js") Прокачиваться в JS
		li.plans__list_item
			input.radio(id="manage" type="radio" name="plans")
			label(for="manage") Менеджерство
		li.plans__list_item
			input.radio(id="other" type="radio" name="plans")
			label(for="other") Другое
