// Clear the float on any element.
clearfix()
	&:after
		display table
		clear both
		content ''

// Fix no working `-webkit-text-size-adjust: 100%;` in Android.
fix-text-size-adjust()
	background-image linear-gradient(transparent, transparent)

// Set element size
size($width, $height = $width)
	width $width
	height $height

// Set margin on left & right
margin-x($margin)
	margin-left $margin
	margin-right $margin

// Set margin on top & bottom
margin-y($margin)
	margin-top $margin
	margin-bottom $margin

// Set pading on left & right
padding-x($padding)
	padding-left $padding
	padding-right $padding

// Set padding on top & bottom
padding-y($padding)
	padding-top $padding
	padding-bottom $padding

// Set one static retina image
retinaBackground($image, $ext = 'png') {
	background-image url('../images/' + $image + '.' + $ext)

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background-image url('../images/' + $image + '@2x.' + $ext)
	}
}

title()
	margin-bottom: 10px
	font-size: 24px
	color: brown
	font-weight: 700

text()
	font-size: 15px
	line-height: 23px
	margin-bottom: 30px
	color: textColor

radio()
	font-size: 21px
	font-weight: 700

label()
	font-size: 22px
	font-weight: 700
	color brown

	@media screen and (max-width: 972px)
		font-size: 18px


input()
	color inputColor
	font-weight: 400
	font-size: 30px
	font-family 'Courier'
	background-color: transparent
	border none

	@media screen and (max-width: 972px)
		font-size: 26px




