mixin info()
	+b('section').info&attributes(attributes)
		block

section.info
	div.info__logo
	div.info__title
	div.info__stamp
	ul.info__list
		li.info__list_element Полное ФИО
			span.info__list_element-text Божик Константин Викторович
		li.info__list_element Год рождения
			span.info__list_element-text 1991
		li.info__list_element Место жтьельства
			span.info__list_element-text г. Одесса Украина
		li.info__list_element Скайп
			span.info__list_element-text uu53790
		li.info__list_element Почта
			span.info__list_element-text supgreyd@gmail.com
