mixin info()
	+b('section').info&attributes(attributes)
		block

section.info
	div.info__logo
	div.info__title
	div.info__stamp
	ul.info__list
		li.info__list_element
			label(for="name") Полное ФИО
			span.info__list_element-text
				input(id="name" tabindex=0 type="text" value= "Божик Константин Викторович" )
		li.info__list_element
			label(for="birth") Год рождения
			span.info__list_element-text
				input(id="birth" type="text" value="1991")
		li.info__list_element
			label(for="country") Место жтьельства
			span.info__list_element-text
				input(id="country" type="text" value="г. Одесса, Украина")
		li.info__list_element
			label(for="skype") Скайп
			span.info__list_element-text
				input(id="skype" type="text" value="uu53790")
		li.info__list_element
			label(for="mail") Почта
			span.info__list_element-text
				input(id="mail" type="text" value="supgreyd@gmail.com")

script
	include info.js

