mixin skillsJs()
	+b.skillsJs&attributes(attributes)
		block

section.skillsJs
	h2.section__skillsJs_title Уровень владения JavaScript
	div.skillsJs__range
		div.skillsJs__range_slider
		ul.skillsJs__level
			li Не владею
			li Использую готовые решения
			li Использую готовые решения и умею их переделывать
			li Пишу сложный JS с нуля





