mixin skillsJs()
	+b.skillsJs&attributes(attributes)
		block

section.skillsJs
	h2.section__skillsJs_title Уровень владения JavaScript
	div.skillsJs__horizontal
		div.skillsJs__range#slider
			div.skillsJs__range_slider
			ul.skillsJs__level
				li
					span Не владею
				li
					span Использую готовые решения
				li
					span Использую готовые решения и умею их переделывать
				li
					span Пишу сложный JS с нуля

script
	include skillsJs.js



