mixin skills()
	+b.skills&attributes(attributes)
		block

section.skills
	h2.section__skills_title Расскажите о себе чекбоксами
	p.section__skills_text Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
	div.skills__list_wrap
		ul.skills_list
			li.skills__list_item
				input.checkbox(id="bem" type="checkbox" checked)
				label(for="bem") БЭМ/OOCSS
			li.skills__list_item
				input.checkbox(id="pug" type="checkbox" checked)
				label(for="pug") Pug (Jade)
			li.skills__list_item
				input.checkbox(id="preprocessor" type="checkbox" checked)
				label(for="preprocessor") Stylus/LESS/SASS
			li.skills__list_item
				input.checkbox(id="svg" type="checkbox" checked)
				label(for="svg") Работаю с SVG
			li.skills__list_item
				input.checkbox(id="semantic" type="checkbox" checked)
				label(for="semantic") Верстаю семантично
			li.skills__list_item
				input.checkbox(id="ally" type="checkbox")
				label(for="ally") Accessibility (A11Y)
			li.skills__list_item
				input.checkbox(id="es" type="checkbox" checked)
				label(for="es") ES2015/ES2016
		ul.skills_list
			li.skills__list_item
				input.checkbox(id="gulp" type="checkbox" checked)
				label(for="gulp") Gulp/GRUNT
			li.skills__list_item
				input.checkbox(id="webpack" type="checkbox" checked)
				label(for="webpack") Webpack
			li.skills__list_item
				input.checkbox(id="webgl" type="checkbox")
				label(for="webgl") Дружу с WebGL
			li.skills__list_item
				input.checkbox(id="jQuery" type="checkbox" checked)
				label(for="jQuery") jQuery
			li.skills__list_item
				input.checkbox(id="angular" type="checkbox" )
				label(for="angular") Знаю/изучаю Angular
			li.skills__list_item
				input.checkbox(id="react" type="checkbox")
				label(for="react") Знаю/изучаю React
			li.skills__list_item
				input.checkbox(id="node" type="checkbox" checked)
				label(for="node") Знаю/изучаю Node.js
		ul.skills_list
			li.skills__list_item
				input.checkbox(id="git" type="checkbox" checked)
				label(for="git") Использую Git
			li.skills__list_item
				input.checkbox(id="eyes" type="checkbox" checked)
				label(for="eyes") С глазомером всё ок
			li.skills__list_item
				input.checkbox(id="blog" type="checkbox" checked)
				label(for="blog") Читаю blog.csssr.ru
			li.skills__list_item
				input.checkbox(id="lazy" type="checkbox" )
				label(for="lazy") Я ленивый(-ая)
			li.skills__list_item
				input.checkbox(id="english" type="checkbox" checked)
				label(for="english") У меня хороший английский

