.skills
	display block
	font-size: 0
	margin-bottom: 50px

	.section__skills_title
		title()

	.section__skills_text
		text()
		letter-spacing: -0.1px

	.skills_list
		display: inline-block
		vertical-align: top
		radio()

		&:nth-child(1)
			width 256px

		&:nth-child(2)
			width 270px

		&:nth-child(3)
			width 220px

		.skills__list_item
			padding-bottom: 11px
			line-height: 24px
			padding-left: 8px
			position: relative

		.checkbox
			vertical-align: top
			margin-right: 3px
			width: 20px
			height: 20px

			&+ label
				cursor: pointer
				display: block

			&:not(checked)
				position: absolute
				opacity: 0

			&:not(checked) + label
				padding-left: 20px

				&:before
					content: ''
					sprite $checkbox
					position: absolute
					top: 3px
					left: 0


			&:checked + label:after
				content: ''
				sprite $checked
				position: absolute
				left: 4px
				top: -5px

	@media screen and (max-width: 972px)
		.skills_list:nth-child(n)
			width: 50%

	@media screen and (max-width: 500px)
		.skills_list:nth-child(n)
			width: 100%
